<div class="mt-4" style="background: #1b1e21; border-radius: 10px; box-shadow: 4px 4px #000000">
    <div class="mb-3 mt-4" style="text-align: center ; size: auto; vertical-align: center; font-size: large">
        <a class="nav-link text-lg" href="#" style="display: inline; border-right: 2px black">About Us</a>
        <a class="nav-link text-lg" href="#"  style="display: inline; border-right: 2px black">Contact Us</a>
        <a class="nav-link text-lg" href="/#"  style="display: inline; border-right: 2px black">Sitemap</a>
        <a class="nav-link text-lg" href="#"  style="display: inline">Disclaimer</a>
    </div>
    <p style="text-align: center" class="text-white"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: small;">© 2020 Copyright : Ev|L. All Rights Reserved.
    </span></p>
    <p style="text-align: center" class="text-white mb-4"> Website Developed by Ev|L</p>
</div>